<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
        <button @click="showParagraphs = !showParagraphs">Toggle</button>

        <p v-if="showParagraphs">You either see me ...</p>
        <p v-else>...or me</p>

        <p v-show="showParagraphs">You either see me ...</p>
        <p v-show="!showParagraphs">...or me</p>
    </div>
    <hr>

    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
        <li v-for="(part, index) in pcParts">
            {{ part }} ({{ index }})
        </li>
    </ul>
    <hr>

    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
        <li v-for="(value, key, index) in book">
            <p>{{ key }}: {{ value }} ({{ index }})</p>
        </li>
    </ul>
    <hr>

    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
        <li v-for="value in sampleObject">
            <template v-if="Array.isArray(value)">
                <ul>
                    <li v-for="v in value">{{ v }}</li>
                </ul>
            </template>
            <p v-else>{{ value }}</p>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#exercise',
        data: {
            showParagraphs: true,
            pcParts: ['Motherboard', 'RAM sticks', 'Processor', 'Graphic card', 'PSU'],
            book: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'},
            sampleObject: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]}
        }
    })
</script>
</body>
</html>