<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <!-- Conditionals with v-if -->
    <div id="app">
        <!-- v-if Enterely disappears element to the dom -->
        <p v-if="show">You can see me!</p> 
        <p v-else>Now you see me!</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button @click="show =! show">Switch</button>
    </div>
    
</body>
<script>
new Vue({
    el: '#app',
    data() {
        return {
            show: true
        }
    },
})
</script>
</html>