<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    <ul>
        <!-- Order is important, first param is always the element, second param, the index -->
        <!-- Keeping track of the specific element adding a key attribute -->
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">
            {{ ingredient }} ({{ i }})
        </li>
    </ul>
    <button @click="ingredients.push('spices')">Add new</button>
    <hr>
    <ul>
        <li v-for="person in persons">
            <!-- Order is important here too -->
            <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
        </li>
    </ul>
    <hr>
        <!-- Looping through numbers -->
        <span v-for="n in 10">{{ n }}</span>
    <hr>
    <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
    </template>
</div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'}
            ]
        }
    })
</script>
</html>