<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Section 2</title>
    
    <!-- All Vue.js core functionality -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app">
    <button v-on:click="increase(2, $event)">Click me!</button>
    <!-- v-on accepts any DOM event and special Vue.js events -->
    <!-- You can send any arg to method simply adding it in parenthesys -->
    <!-- Add the event object manually with this reserved name $event when you pass your own args to.-->
    <p>{{ counter }}</p>
    
    <p>{{ counter > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
    <!-- You can put one JS expression in interpolations or directive's instructions -->
    
    <p v-on:mousemove="updateCoordinates">
        Coordinates: {{ x }}, {{ y }}
        - <span v-on:mousemove.stop.prevent>DEAD SPOT</span>
        <!-- stop is an event modifier, equals to stopPropagation -->
    </p>
    
    <input type="text" v-on:keyup.enter.space="alertMe">
    <!-- enter is a modifier, when the user press the enter key, the event is triggered -->
</div>

<script>
    /**
     * Vue.js creates a custom template based on your own HTML template
     * Stores it internally to render in the real DOM
     */
    new Vue({
        el: '#app', // HTML element under control of this Vue instance, you now can use interpolations, directives, etc. into elem's scope.
        data: {
            counter: 0,
            x: 0,
            y: 0
        },
        methods: {
            increase: function (step) {
                this.counter += step;
            },
            updateCoordinates: function (event) { // event object is passed automatically by v-on directive
                this.x = event.clientX;
                this.y = event.clientY;
            },
            alertMe: function () {
                alert('Alert!');
            }
        }
    });
</script>

</body>
</html>