<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Section 2</title>
    
    <!-- All Vue.js core functionality -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app">
    <input type="text" v-model="name">
    <!-- v-model is a two-way data binding -->
    <p>{{ name }}</p>
</div>

<script>
    /**
     * Vue.js creates a custom template based on your own HTML template
     * Stores it internally to render in the real DOM
     */
    new Vue({
        el: '#app', // HTML element under control of this Vue instance, you now can use interpolations, directives, etc. into elem's scope.
        data: {
            name: 'Jankrloz'
        }
    });
</script>

</body>
</html>