<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You vs Monster</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .player-stats img {
            width: 120px;
        }
    </style>
</head>
<body>

<div id="app">
    <div id="header" class="container py-5">
        <div class="row justify-content-center text-center">
            <div id="user-stats" class="col player-stats m-3 text-center">
                <img :src="userPlayer.currentImage" alt="Charmander">
                <h2>You</h2>
                <p>{{ userPlayer.name }}</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" :style="{width: userPlayer.life + '%'}"
                         :aria-valuenow="userPlayer.life"
                         aria-valuemin="0" aria-valuemax="100">{{userPlayer.life}} pts
                    </div>
                </div>
            </div>
            <div id="monster-stats" class="col player-stats m-3 text-center">
                <img :src="cpuPlayer.currentImage" alt="Haunter">
                <h2>CPU</h2>
                <p>{{ cpuPlayer.name }}</p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" :style="{width: cpuPlayer.life + '%'}"
                         :aria-valuenow="cpuPlayer.life"
                         aria-valuemin="0" aria-valuemax="100">{{cpuPlayer.life}} pts
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="actions" class="container py-5">
        <div class="row justify-content-center text-center">
            <div class="col">

                <div v-if="inGame" class="actions-on-game">
                    <button class="btn btn-success btn-lg action-button" @click="attack(userPlayer, cpuPlayer)">Attack
                    </button>
                    <button class="btn btn-danger btn-lg action-button" @click="attack(userPlayer, cpuPlayer, true)"
                        :disabled="!userPlayer.availableSpecialAttacks">
                        Special Attack ({{ userPlayer.availableSpecialAttacks }})
                    </button>
                    <button class="btn btn-info btn-lg action-button" @click="heal(userPlayer)">Heal</button>
                    <button class="btn btn-secondary btn-lg action-button" @click="gameOver(null)">Give up</button>
                </div>

                <button v-else id="start-game" class="btn btn-primary btn-lg" @click="startGame">Start Game</button>

            </div>
        </div>
    </div>
    <div id="log" class="container py-5">
        <div class="row justify-content-center text-center">
            <div class="col">
                <ul class="list-group">
                    <li v-for="l in log" :class="['list-group-item', l[1]]">{{ l[0] }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            inGame: false,
            userTurn: false,
            userPlayer: {
                name: 'Charmander',
                life: 100,
                attack: 10,
                specialAttack: 20,
                availableSpecialAttacks: 3,
                currentImage: './images/charmander.png',
                normalImage: './images/charmander.png',
                attackingImage: './images/charmander-attack.png'
            },
            cpuPlayer: {
                name: 'Haunter',
                life: 100,
                attack: 15,
                specialAttack: 25,
                availableSpecialAttacks: 3,
                currentImage: './images/haunter.png',
                normalImage: './images/haunter.png',
                attackingImage: './images/haunter-attack.png'
            },
            log: []
        },
        methods: {
            startGame: function () {
                this.inGame = true;
                this.userPlayer.life = this.cpuPlayer.life = 100;
                this.userPlayer.availableSpecialAttacks = this.cpuPlayer.availableSpecialAttacks = 3;
            },
            attack: function (attacker, defender, specialAttack) {
                let vm = this;
                attacker.currentImage = attacker.attackingImage;
                if (specialAttack) {
                    attacker.availableSpecialAttacks--;
                }
                setTimeout(function () {
                    let damage = specialAttack ? attacker.specialAttack : attacker.attack;
                    damage = Math.max(Math.floor(Math.random() * damage) + 1, Math.floor(damage/2));
                    defender.life -= damage;

                    attacker.currentImage = attacker.normalImage;

                    if (defender.life <= 0) {
                        defender.life = 0;
                        vm.gameOver(attacker);
                        return;
                    }

                    vm.userTurn = (attacker === vm.userPlayer);

                    vm.log.unshift([`${attacker.name} attacks with ${damage} pts`, vm.userTurn ? 'text-primary' : 'text-success'])
                }, 1000);

            },
            heal: function (user) {
                user.life += 10;
                user.life = user.life > 100 ? 100 : user.life;
                this.userTurn = (user === this.userPlayer);
                this.log.unshift([`${user.name} healed`, 'text-info']);
            },
            gameOver: function (winner) {
                this.inGame = false;
                if (winner) {
                    alert(`${winner.name} won!`);
                    this.log.unshift([`${winner.name} won!`, 'text-danger']);
                }
            }
        }, watch: {
            userTurn: function (value) {
                if (value) {
                    this.attack(this.cpuPlayer, this.userPlayer);
                    this.userTurn = !value;
                }
            }
        }
    })
</script>
</body>
</html>