<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Introduction</title>
</head>
<body>

<div id="app">
  <input type="text" v-on:input="changeTitle">
  <p>{{ title }}</p>
</div>

<!-- All Vue.js core functionality -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
  new Vue({
    el: '#app', // HTML element under control of this Vue instance
    data: {
      title: 'Hello world!!!'
    },
    methods: {
      changeTitle: function(event) { // Vanilla js event object, is passed automatically
        this.title = event.target.value; // 'this' have a direct shortcut to this.data
      }
    }
  })
</script>

</body>
</html>