<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Section 2</title>
    
    <!-- All Vue.js core functionality -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app">
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <button v-on:click="secondCounter++">Increase second</button>
    
    <p>Counter: {{ counter }} | {{ secondCounter }}</p>
    <p>Result: {{ result() }} | {{ output }}</p>
    <!-- Use the computed as simple properties, not functions -->
</div>

<script>
    /**
     * Vue.js creates a custom template based on your own HTML template
     * Stores it internally to render in the real DOM
     */
    new Vue({
        el: '#app', // HTML element under control of this Vue instance, you now can use interpolations, directives, etc. into elem's scope.
        data: {
            counter: 0,
            secondCounter: 0
            // result: '' // data is not reactive (this.counter > 5 ? ... will not work)
        },
        computed: {
            // Dependent properties, behind the scenes, vue analyze the code.
            // if this computed prop depends on a data prop, only execute this function while that data prop has changed.
            // Not every time any data prop has changed like methods functions
            // Caching the result if the data dependent doesn't change, is not necessary to recalculate.
            // Best way to sync tasks or inmediate outputs
            output: function () {
                console.log('computed executed');
                return this.counter < 5 ? 'Smaller than 5' : 'Greater than 5';
            }
        },
        methods: {
            // Use these if you need to recalculate every dom or data prop gets updated for some reason
            result: function () {
                console.log('method executed');
                return this.counter < 5 ? 'Smaller than 5' : 'Greater than 5';
            }
        },
        watch: { // An alternative to computed props, execute code upon data changes, best way to do async tasks here
            counter: function (value) { // Auto pass upcoming value for desired data prop
                var vm = this;
                setTimeout(function () {
                    vm.counter = 0;
                }, 2000);
                // Is not necessary return something
            }
        }
    });
</script>

</body>
</html>