<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Section 2</title>
    
    <!-- All Vue.js core functionality -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<div id="app">
    <input type="text" v-on:input="changeTitle">
    <!-- v-on is a directive, and receive an event, vue.js has the input event (like keytrigger) -->
    
    <p v-once>{{ title }}</p>
    <!-- "{{ }}" is called 'interpolation' -->
    <!-- On interpolations, is not neccesary the 'this' object to access to data items or method functions -->
    <!-- {{ data.title }} is the same -->
    <!-- With the directive 'v-once' you render the initial values, and it doesn't matter they change in runtime,
        never refresh the new values -->
    
    <p>{{ sayHello() }}</p>
    <!-- Always the return function variable has to be string-like or something you can parse onto string -->
    <!-- Yo can access directly the methods without the 'methods' object, even in interpolations, like data object -->
    <!-- {{ methods.sayHello() }} is the same -->
    
    <a v-bind:href="link">Google</a>
    <!-- <a href="{{ link }}">Google</a> - This doesn't work, you cannot use interpolation like this,
        in a normal html tag attr -->
    <!-- v-bind directive tells "don't use the normal href attr, use the binding vue.js attr -->
    <!-- Everything you put into the quotes of a directive is a JS expression, like into interpolations -->
    <!-- Generally you pass an argument to directives using a colon ':' and then a JS expression or value -->
    <!-- Bind ~ 'Pass dynamic data to' -->
    
    <p v-html="finishedLink"></p>
    <!-- By default, Vue.js escapes HTML string literal for protection (cross-site scripting attacks) -->
    <!-- v-html tells "Don't escape HTML, inject that into this element" -->

</div>

<script>
    /**
     * Vue.js creates a custom template based on your own HTML template
     * Stores it internally to render in the real DOM
     */
    new Vue({
        el: '#app', // HTML element under control of this Vue instance, you now can use interpolations, directives, etc. into elem's scope.
        data: {
            title: 'Hello world!!!',
            link: 'http://google.com',
            finishedLink: '<a href="http://google.com">Other google link</a>'
        },
        methods: {
            changeTitle: function (event) { // Vanilla js event object, is passed automatically
                this.title = event.target.value; // 'this' have a direct shortcut to this.data
            },
            sayHello: function () {
                this.title = 'Hello!'; // Overwrite the initial title data when this function is called
                return this.title; // this.data.title is the same
            }
        }
    });
</script>

</body>
</html>